@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --md-sys-color-background: 255 248 243;
  --md-sys-color-on-background: 32 27 18;
  --md-sys-color-surface: 255 248 243;
  --md-sys-color-surface-dim: 228 216 203;
  --md-sys-color-surface-bright: 255 248 243;
  --md-sys-color-surface-container-lowest: 255 255 255;
  --md-sys-color-surface-container-low: 254 242 228;
  --md-sys-color-surface-container: 248 236 222;
  --md-sys-color-surface-container-high: 243 230 216;
  --md-sys-color-surface-container-highest: 237 225 211;
  --md-sys-color-on-surface: 32 27 18;
  --md-sys-color-surface-variant: 242 225 201;
  --md-sys-color-on-surface-variant: 80 69 52;
  --md-sys-color-inverse-surface: 54 47 38;
  --md-sys-color-inverse-on-surface: 251 239 225;
  --md-sys-color-outline: 131 117 98;
  --md-sys-color-outline-variant: 213 196 174;
  --md-sys-color-shadow: 0 0 0;
  --md-sys-color-scrim: 0 0 0;
  --md-sys-color-surface-tint: 127 87 0;
  --md-sys-color-primary: 127 87 0;
  --md-sys-color-on-primary: 255 255 255;
  --md-sys-color-primary-container: 247 179 55;
  --md-sys-color-on-primary-container: 68 45 0;
  --md-sys-color-inverse-primary: 255 186 62;
  --md-sys-color-secondary: 118 90 43;
  --md-sys-color-on-secondary: 255 255 255;
  --md-sys-color-secondary-container: 255 220 169;
  --md-sys-color-on-secondary-container: 92 67 22;
  --md-sys-color-tertiary: 86 101 0;
  --md-sys-color-on-tertiary: 255 255 255;
  --md-sys-color-tertiary-container: 182 202 84;
  --md-sys-color-on-tertiary-container: 45 54 0;
  --md-sys-color-error: 186 26 26;
  --md-sys-color-on-error: 255 255 255;
  --md-sys-color-error-container: 255 218 214;
  --md-sys-color-on-error-container: 65 0 2;
}

:root,
:host {
  --md-sys-color-background: 15 21 16;
  --md-sys-color-on-background: 222 228 219;
  --md-sys-color-surface: 15 21 16;
  --md-sys-color-surface-dim: 15 21 16;
  --md-sys-color-surface-bright: 53 59 53;
  --md-sys-color-surface-container-lowest: 10 16 11;
  --md-sys-color-surface-container-low: 23 29 24;
  --md-sys-color-surface-container: 27 33 28;
  --md-sys-color-surface-container-high: 38 43 38;
  --md-sys-color-surface-container-highest: 48 54 48;
  --md-sys-color-on-surface: 222 228 219;
  --md-sys-color-surface-variant: 62 74 63;
  --md-sys-color-on-surface-variant: 190 202 188;
  --md-sys-color-inverse-surface: 222 228 219;
  --md-sys-color-inverse-on-surface: 44 50 44;
  --md-sys-color-outline: 136 148 135;
  --md-sys-color-outline-variant: 62 74 63;
  --md-sys-color-shadow: 0 0 0;
  --md-sys-color-scrim: 0 0 0;
  --md-sys-color-surface-tint: 116 220 144;
  --md-sys-color-primary: 116 220 144;
  --md-sys-color-on-primary: 0 57 25;
  --md-sys-color-primary-container: 0 116 57;
  --md-sys-color-on-primary-container: 255 255 255;
  --md-sys-color-inverse-primary: 0 109 54;
  --md-sys-color-secondary: 167 209 173;
  --md-sys-color-on-secondary: 18 55 30;
  --md-sys-color-secondary-container: 34 71 44;
  --md-sys-color-on-secondary-container: 181 223 186;
  --md-sys-color-tertiary: 182 196 255;
  --md-sys-color-on-tertiary: 0 40 125;
  --md-sys-color-tertiary-container: 66 95 189;
  --md-sys-color-on-tertiary-container: 255 255 255;
  --md-sys-color-error: 255 180 171;
  --md-sys-color-on-error: 105 0 5;
  --md-sys-color-error-container: 147 0 10;
  --md-sys-color-on-error-container: 255 218 214;
}
